@model HostelManagementSystem.Models.Menu

@{
    ViewData["Title"] = "DeleteMenu";
}

<h4>Delete Menu</h4>

<h5>Are you sure you want to delete this?</h5>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakFastItem1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakFastItem1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakFastItem2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakFastItem2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakFastItem3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakFastItem3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchItem6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchItem6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerItem1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerItem1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerItem2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerItem2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerItem3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerItem3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerItem4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerItem4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerItem5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerItem5)
        </dd>
    </dl>
    
    <form asp-action="DeleteMenu">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ViewMenu">Back to List</a>
    </form>
</div>
