@model IEnumerable<HostelManagementSystem.Models.Notice>

@{
    ViewData["Title"] = "ViewNotice";
}

<center>
    <h4>Notice</h4>
</center>
<p>
    <a asp-action="AddNotice">Create New Notice</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateNotice", new { id=item.id}) |
               
                @Html.ActionLink("Delete", "DeleteNotice", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
